<h1>Rails TurboChat</h1>
<p> Realtime chat App with chatrooms</p>

<% if current_user %>
  <%= link_to "Chatrooms", rooms_path %>
  <%= image_tag(current_user.avatar_thumbnail)%>
  <%= button_to "Logout", destroy_user_session_path, method: :delete %>
  <%= link_to "Edit profile", edit_user_registration_path, class:"btn btn-secondary" %>
<% else %>
  <%= link_to "Login", new_user_session_path %>
  <%= link_to "Sign up", new_user_registration_path %>
<% end %>
